/* Global Styles */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f7f9fc;
  color: #333;
}

h1{
  color: #241e57 !important;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header Styling */
.display-6 {
  font-weight: 600;
}

button {
  border-radius: 50px;
}

/* Custom Card Styles */
.custom-card {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bg-gradient-primary, .bg-gradient-secondary, .bg-gradient-dark {
  background-color: #241e57 !important; /* Sets the new color */
  color: white; /* Ensures text remains readable */
}
.custom-header {
  background: linear-gradient(135deg, #6c7ae0, #4f5d73);
  color: white;
  font-size: 1.2rem;
}


.card-header {
  background-color: #241e57;
}

.card-header h5 {
  color: #ffffff;
  
}
.card-body {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
}

/* Button Styles */
.btn-primary {
  background-color: #6c7ae0;
  border-color: #6c7ae0;
  border-radius: 50px;
}

.btn-primary:hover {
  background-color: #4f5d73;
  border-color: #4f5d73;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
  border-radius: 50px;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #218838;
}

/* Image and Thumbnail */
.custom-img-thumbnail {
  height: 60px;
  width: auto;
  border-radius: 10px;
  transition: transform 0.2s;
}

.custom-img-thumbnail:hover {
  transform: scale(1.05);
}

/* Alert Styles */
.custom-alert {
  border-radius: 10px;
  padding: 15px;
  background-color: #e3f2fd;
  color: #31708f;
}

/* List Group Item */
.custom-list-item {
  transition: background-color 0.3s;
}

.custom-list-item:hover {
  background-color: #f8f9fa;
}

/* Table Styles */
.custom-table {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-spacing: 0;
  margin-top: 20px;
}

.custom-table th {
  background-color: #f8f9fa;
  font-weight: 600;
}

.custom-table-head th {
  color: #4f5d73;
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .card-body {
    padding: 15px;
  }
}
