<nav class="topnav">
    <div class="topnav-header">
      <img src="TextLogo.png" alt="UnitPay Solutions" height="40px" class="logo">
      <button class="menu-icon" (click)="toggleMenu()">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>
    <ul class="topnav-links" [class.collapsed]="isMenuCollapsed">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <span class="icon">
          <i class="fa-solid fa-house"></i>
        </span>
        <a routerLink="/landlord-dashboard">Dashboard</a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <span class="icon">
            <i class="fa-solid fa-file-invoice"></i>
        </span>
        <a routerLink="/landlord-announcements">Announcements</a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <span class="icon">
            <i class="fa-solid fa-handshake"></i>
        </span>
        <a routerLink="/tenants-profile">Tenants</a>
    </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <span class="icon">
          <i class="fa-solid fa-toolbox"></i>
        </span>
        <a routerLink="/maintenance">Maintenance</a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <span class="icon">
            <i class="fa-solid fa-box-archive"></i>
        </span>
        <a routerLink="/archive">Archive</a>
    </li>
      <li>
        <span class="icon">
          <i class="fa-solid fa-right-from-bracket"></i>
        </span>
        <a (click)="logout()">Logout</a>
      </li>
    </ul>
  </nav>