.container {
  display: flex;
  gap: 20px;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.forms-section {
  flex: 1;
  background-color: #f9f9f9;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow-y: auto; /* Ensures the section itself doesn't cause scrolling */
}

.maintenance-section {
  flex: 2;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow-y: auto; /* Enables vertical scrolling */
  height: calc(100vh - 40px); /* Matches the container height minus padding */
}

h3 {
  margin-top: 0;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input, form select, form textarea {
  width: 100%;
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #241e57;
  color: #fff;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #332a80;
}

.update-button:hover {
  background-color: #35dc7b;
}

.update-button{
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #27ae60;
  color: #fff;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
