<div class="sidenav" [class.collapsed]="isCollapsed">
    <div class="sidenav-header">
        <h2>UnitPay Solutions</h2>
    </div>
    <ul class="sidenav-links">
        <li class="active">
            <span class="icon">&#128200;</span>
            <a href="#">Dashboard</a>
        </li>
        <li class="active">
            <span class="icon">&#128202;</span>
            <a href="#">Invoices</a>
        </li>
        <li>
            <span class="icon">&#128231;</span>
            <a href="#">Mailing</a>
        </li>
        <li>
            <span class="icon">&#128221;</span>
            <a href="#">Lease Agreement</a>
        </li>
    </ul>
    <button class="toggle-button" (click)="toggleSidenav()">&#9776;</button>
</div>