<div class="sidenav" [class.collapsed]="isCollapsed">
    <div class="sidenav-header" (click)="toggleSidenav()">
        <img *ngIf="!isCollapsed" src="TextLogo.png" alt="UnitPay Solutions" height="200px" class="text-logo">
        <img *ngIf="isCollapsed" src="TextLogo.png" alt="UnitPay Solutions Logo" height="40px" class="logo">    
    </div>
    <ul class="sidenav-links">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <span class="icon">
                <i class="fa-solid fa-house"></i>
            </span>
            <a routerLink="/landlord-dashboard">Dashboard</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <span class="icon">
                <i class="fa-solid fa-file-invoice"></i>
            </span>
            <a routerLink="/landlord-announcements">Announcements</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <span class="icon">
                <i class="fa-solid fa-handshake"></i>
            </span>
            <a routerLink="/tenants-profile">Tenants</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <span class="icon">
                <i class="fa-solid fa-toolbox"></i>
            </span>
            <a routerLink="/maintenance">Maintenance</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <span class="icon">
                <i class="fa-solid fa-box-archive"></i>
            </span>
            <a routerLink="/archive">Archive</a>
        </li>
    </ul>    
    <button class="logout-icon" (click)="logout()">
        <i class="fa-solid fa-right-from-bracket"></i>
        <span *ngIf="!isCollapsed"></span>
    </button>
    
</div>
