<div class="container mt-1">

<div class="d-flex justify-content-between align-items-center mb-4">
  <h1 class="display-6 fw-bold text-primary">Announcements</h1>
</div>
<div class="announcements-feed">
  <!-- Announcements List -->
  <div class="announcement-grid">
    <div class="announcement" *ngFor="let post of posts">
      <div class="announcement-header">
        <h4>{{ post.title }}</h4>
        <button class="btn btn-danger" (click)="deletePost(post.post_id)">Delete</button>
      </div>
      <div class="announcement-body">
        <p>{{ post.content }}</p>
        <div *ngIf="post.image_path">
          <img [src]="post.image_path" alt="Post Image" class="post-image" />
        </div>
      </div>
      <div class="announcement-footer">
        <small>{{ post.date | date:'short' }}</small>
      </div>
    </div>
  </div>
</div>
</div>