.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidenav-container {
  flex-shrink: 0;
}

.content-container {
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: 769px) {
  .app-container {
    flex-direction: row;
  }
}