/* Dashboard Container */
.dashboard-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* Sidebar */
.sidebar {
  width: 240px;
  background-color: #1c2444;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.sidebar-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.sidebar-menu ul {
  list-style: none;
  padding: 0;
}

.sidebar-menu ul li {
  margin-bottom: 20px;
}

.sidebar-menu ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  padding: 10px;
  border-radius: 4px;
  display: block;
}

.sidebar-menu ul li.active a,
.sidebar-menu ul li a:hover {
  background-color: #3ac17b;
}

/* Main Content */
.content {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  overflow-y: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 1.5rem;
}

.header .date {
  font-size: 1rem;
  color: #555555;
}

/* Overview Section */
.main-overview {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.overview-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.overview-card {
  background-color: #3c5a97;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  font-size: 1.2rem;
}

.overview-card i {
  font-size: 3rem; /* Adjust size as needed */
}

/* Chart Section */
.chart-section {
  background-color: #f9f9f9;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.chart-container {
  text-align:left;
}

.chart-container h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

canvas {
  width: 100%;
  height: auto;
  max-height: 300px;
}

/* Summary Section */
.summary {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.summary-item {
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
}

.summary-item.vacant {
  background-color: #3c5a97;
  color: #ffffff;
}

.summary-item.acquired {
  background-color: #27ae60;
  color: #ffffff;
}

.summary-item.income {
  background-color: #eafaf1;
  color: #27ae60;
}

.summary-item.expenses {
  background-color: #fbecec;
  color: #e74c3c;
}


/* Invoices Section */
.invoices {
  margin-top: 30px;
}

.invoices h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #3c5a97;
  color: #ffffff;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #dddddd;
}

td {
  background-color: #ffffff;
}

td.pending {
  color: #e67e22;
}

td.paid {
  color: #2ecc71;
}


